spring:
  application:
    name: moro
  datasource:
    url: ${DB_JDBC_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 300000
      connection-timeout: 20000
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: false
    show-sql: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: "869169115128-8ej4s61a5em6lktgisnhslo9ijo0itv2.apps.googleusercontent.com"
            client-secret: "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"
            redirect-uri: http://localhost:8080/login/oauth2/code/google
            scope:
              - openid
              - email
              - profile

app:
  s3:
    bucket: moro-s3-bucket
    region: ap-northeast-2

jwt:
  secret: ${JWT_SECRET:vmfhaltjskdbstjavyansjungskwodydrnwhskqbzl}